 
 
 .pages-title {
	font-size: 48px !important;
	line-height: 54px !important;
	font-weight: bold !important;
	color: #000000;
	margin: 0 0 20px !important;
}
 
.pages-heading {
	font-size: 48px !important;
	line-height: 54px !important;
	font-weight: bold !important;
	color: #000000;
	margin: 0 0 20px !important;
	font-family: 'open sans', sans-serif !important;
}

.pages-sub-heading {
	font-size: 32px !important;
	line-height: 36px !important;
	font-weight: bold !important;
	color: #000000;
	margin: 0 0 20px !important;
	font-family: 'open sans', sans-serif !important;
}

.pages-header-text {
	font-size: 24px;
	line-height: 30px;
	color: #808080;
	font-family: 'open sans', sans-serif !important;
}

.pages-text {
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	margin: 0 0 20px;
	font-family: 'open sans', sans-serif !important;
}

.pages-list {
	 font-size: 18px;
	 line-height: 24px;
	 color: #000000;
	 padding-left: 20px;
}

.pages-list li {
	 list-style-type: disc;
	 font-family: 'open sans', sans-serif !important;
}

.pages-btn {
	font-size: 22px;
	line-height: 24px;
	color: #ffffff !important;
	background: #ec0928;
	font-weight: bold;
	border-radius: 25px;
	display: block;
	width: fit-content;
	padding: 10px 30px;
	text-decoration: none !important;
	margin: 0 auto;
	font-family: 'open sans', sans-serif !important;
	text-align: center;
}
  
  


    {% set total_columns_count = 12 %}

/* CSS variables */

:root {
  --column-gap: 2.13%;
  --column-width-multiplier: 8.333;
}

/* Mobile layout */

.row-fluid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

{% for span_num in range(1, total_columns_count + 1) %}
  {{ ".row-fluid .span" ~ span_num }}{{ loop.last ? null : "," }}
{%- endfor -%} {
  min-height: 1px;
  width: 100%;
}

/* Desktop layout */

@media (min-width: 768px) {
  .row-fluid {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  {% for span_num in range(1, total_columns_count) %}
    {{ ".row-fluid .span" ~ span_num }} {
      width: calc(var(--column-width-multiplier) * 1% * {{ span_num  }} - var(--column-gap) * ({{ total_columns_count - span_num }} * var(--column-width-multiplier) / 100));
    }
  {% endfor %}
}
