

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    margin-bottom: 8px;
    color: #000000;
}

p {
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}

.demo-wrapper {
    margin: 40px 0;
}

.back-btn {
    display: inline-block;
    color: #808080;
    font-size: 18px;
}






